.insta360-editor {
    margin-bottom: 120px;

    .header {
        font-size: 30px;
        font-weight: bold;
        color: #4D4D4D;
        padding: 12px 0;
        border-bottom: 1px solid #e6e6e6;
        margin-bottom: 36px;
    }

    .input-group {
        display: flex;
        margin: 12px 0;

        .label {
            flex: none;
            width: 180px;
            font-size: 14px;
            color: rgba(0,0,0,0.70);
            line-height: 48px;
            font-weight: normal;
            text-align: right;
            padding: 0 24px 0;

            .required {
                color: red;
            }
        }
        input[type="text"] {
            display: block;
            width: 100%;

            padding: 0 12px;
            height: 48px;
            line-height: 48px;
            border: 1px solid #D9D9D9;
            border-radius: 2px;

            font-size: 14px;
            color: rgba(0,0,0,0.70);
        }
        textarea {
            resize: none;
            display: block;
            width: 100%;

            padding: 12px;
            height: 150px;
            line-height: 20px;
            border: 1px solid #D9D9D9;
            border-radius: 2px;

            font-size: 14px;
            color: rgba(0,0,0,0.70);
        }
        select {
            display: inline-block;
            vertical-align: top;
            width: 267px;

            padding: 0 12px;
            height: 48px;
            border: 1px solid #D9D9D9;
            border-radius: 2px;

            font-size: 14px;
            color: rgba(0,0,0,0.70);
        }

        .child {
            margin-left: 48px;
            display: inline-block;

            input[type="text"] {
                width: 267px;
            }
        }

        .checkbox-group {
            margin-left: 180px;
            font-size: 14px;
            color: rgba(0,0,0,0.70);
        }

        .radio-group {
            margin-top: 14px;
            display: flex;

            .text {
                margin-left: 24px;
                color: rgba(0,0,0,0.25);
                font-size: 14px;
            }

            .my-radio {
                margin-right: 24px;
                position: relative;
                font-size: 14px;
                color: rgba(0,0,0,0.70);
                padding-left: 28px;

                &:before {
                    display: block;
                    position: absolute;
                    top: 0;
                    left: 0;

                    content: '';
                    width: 16px;
                    height: 16px;
                    border: 1px solid #D9D9D9;
                    border-radius: 50%;
                }

                &:after {
                    display: none;
                    position: absolute;
                    top: 3px;
                    left: 3px;

                    content: '';
                    width: 10px;
                    height: 10px;
                    border-radius: 50%;
                    background-color: #ffd200;
                }
            }
            .my-radio.active {
                &:before {
                    border-color: #ffd200;
                }
                &:after {
                    display: block;
                }
            }
        }

        input[type="text"]::placeholder,
        select::placeholder,
        textarea::placeholder {
            color: rgba(0,0,0,0.25);
        }

        .upload-group {
            display: flex;
            .upload-button {
                cursor: pointer;
                background-color: #F7F7F7;
                border-radius: 2px;
                width: 200px;
                height: 48px;
                line-height: 48px;
                text-align: center;

                color: rgba(0,0,0,0.70);
                margin-right: 24px;

                flex: none;
            }

            .upload-tip {
                display: flex;
                flex-direction: column;
                justify-content: center;

                font-size: 14px;
                color: rgba(0,0,0,0.25);

                .text {
                    padding-right: 16px;
                }
                .link {
                    color: #DC1916;
                }
            }
        }

        .preview {
            .delete {
                cursor: pointer;
                color: #3465E0;
            }
    
            .item-file {
                margin: 6px 0;
    
                .delete {
                    display: inline-block;
                    margin-left: 24px;
                }
            }
    
            .item-image {
                display: inline-block;
                margin-top: 6px;
                margin-right: 48px;
                width: 160px;
                
    
                img {
                    display: block;
                    width: 100%;
                }
    
                .delete-wrapper {
                    margin-top: 12px;
                    text-align: right;
                }
            }
        }

        .text-count-group {
            position: relative;
            width: 100%;
            .text-count {
                position: absolute;
                right: 8px;
                top: 14px;
                color: rgba(0,0,0,0.25);
            }
        }
    }

    .input-group.is-error {
        input[type="text"],
        textarea {
            border-color: red;
        }
    }

    .submit {
        margin-left: 180px;
        margin-top: 36px;
        height: 48px;
        line-height: 48px;
        
        width: 200px;
        text-align: center;

        background-image: linear-gradient(-144deg,#fe0 0,#ffd200 100%);
        border: 0;
        border-radius: 4px;

        font-size: 16px;
        color: rgba(0,0,0,0.70);
        font-weight: bold;
    }
    .submit[disabled] {
        opacity: .5;
    }
}